.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #556B2F;
    padding: 10px 20px;
    color: white;
  }
  
  .navbar-logo img {
    height: 40px;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin: 0;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .navbar-links a:hover {
   color:#8c9779
  }
